<div class="row">
    <div class="leftcolumn">
      <div class="card" routerLink="/blog1" routerLinkActive="active">
        <h2>H264 Notes</h2>
        <h5>Industry standard for video compression , Sep 12, 2019</h5>
        <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
        <p>H.264 is an industry standard for video compression, the process of converting digital video into a format that takes up less capacity when it is stored or transmitted. Video compression (or video coding) is an essential technology for applications such as digital television, DVD-Video, mobile TV, videoconferencing and internet video streaming. Standardising video compression makes it possible for products from diﬀerent manufacturers (e.g. encoders, decoders and storage media) to inter-operate.</p>
        <p>An encoder converts video into a compressed format and a decoder converts compressed video back into an uncompressed format.</p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>