<div class="header">
  <h1>
    =^..^= &nbsp;&nbsp;  Streaming Cat's - Tech Blog
    <br/> 
    <div class="social-icon-group">
      <a href="https://github.com/abhijeetbhagat" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/abhijeet-bhagat-029543177/" target="_blank"><i class="fa fa-linkedin-square" ></i></a>
      <!--<a href="https://github.com/abhijeetbhagat" target="_blank"><i class="fa fa-twitter-square" ></i></a>-->
    </div>
  </h1>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <div class="social-icon-group">
    <a href="https://github.com/abhijeetbhagat" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/abhijeet-bhagat-029543177/" target="_blank"><i class="fa fa-linkedin-square" ></i></a>
    <!--<a href="https://github.com/abhijeetbhagat" target="_blank"><i class="fa fa-twitter-square" ></i></a>-->
  </div>
  <h5>Blog Author : Abhijeet Bhagat @all right reserved</h5>
</div>